/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 59em;
  width: 96.61017%;
  letter-spacing: -0.25em; }
  #content:after {
    content: "";
    display: table;
    clear: both; }

header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1.69492%;
  margin-bottom: 1.69492%;
  width: 100%;
  vertical-align: top;
  float: right;
  margin-right: 0;
  letter-spacing: normal; }

.pricing-plan {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1.69492%;
  margin-bottom: 1.69492%;
  width: 49.15254%;
  vertical-align: top;
  letter-spacing: normal; }
  .pricing-plan:last-child {
    float: right;
    margin-right: 0; }

aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1.69492%;
  margin-bottom: 1.69492%;
  width: 32.20339%;
  vertical-align: top;
  letter-spacing: normal; }

#primary-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 59em;
  width: 96.61017%;
  letter-spacing: -0.25em;
  display: inline-block;
  margin-right: 1.69492%;
  margin-bottom: 1.69492%;
  width: 66.10169%;
  vertical-align: top;
  float: right;
  margin-right: 0; }
  #primary-content:after {
    content: "";
    display: table;
    clear: both; }
  #primary-content h2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2.5641%;
    margin-bottom: 2.5641%;
    width: 100%;
    vertical-align: top;
    float: right;
    margin-right: 0;
    letter-spacing: normal; }

.feature-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 2.5641%;
  margin-bottom: 2.5641%;
  width: 48.71795%;
  vertical-align: top;
  letter-spacing: normal; }
  .feature-list:last-child {
    float: right;
    margin-right: 0; }

body {
  color: #333;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  padding: 4em 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1.69492%;
  margin-bottom: 1.69492%;
  width: 100%;
  vertical-align: top;
  float: right;
  margin-right: 0;
  letter-spacing: normal; }
