$tartan-base-size:    16 !default;
$tartan-column-count: 12 !default;
$tartan-column-width: 4em !default;
$tartan-fluid:        true !default;
$tartan-gutter-width: 1em !default;
$tartan-render-mode:  inline-block !default;
