@import 'tartan/tartan';

body {
  @include tartan-container;
  padding-bottom: 8em;
}

h1, h2, h3, h4, h5, h6,
pre, dl {
  @include tartan-span-columns;
}

p {
  @include tartan-span-columns(8);
}

dl {
  margin-top: 1em;
}

dt {
  word-break: break-word;
}

dd {
  margin: 0.5em 0 1.5em 0.5em;
}

header {
  margin-bottom: 1em;
  padding: 1em 0;
}

section {
  margin-bottom: 2em;

  h1 {
    padding-bottom: 1em;
    margin: 1em 0;
  }
}

pre {
  margin: 1em 0;
}

#intro {
  margin-bottom: 2em;
}

.install-option {
  @include tartan-span-columns(6);
  &:last-of-type { @include tartan-omega; }

  @media screen and (max-width: 720px) {
    @include tartan-span-columns;
  }
}

.usage-step {
  @include tartan-row;
  margin-bottom: 2em;
}

.usage-markup, .usage-style {
  @include tartan-span-columns(6);
  @media screen and (max-width: 720px) {
    @include tartan-span-columns;
  }
}

.usage-style {
  @include tartan-omega;
}
