@mixin sans-serif-stack {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

@mixin monospace-stack {
  font-family: 'Inconsolata', 'Consolas', monospace;
}

body {
  color: #333;
  @include sans-serif-stack;
}

code[class*='language-'] {
  @include monospace-stack;
}

header {
  font-size: 2em;
}

section h1 {
  font-size: 1.5em;
}

code {
  line-height: 1.1;
}

strong {
  font-weight: bold;
}

p, dd {
  line-height: 1.4285;
}

dt {
  @include monospace-stack;
}
